#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12%;
  height: 90vh;
}

.button {
  background-color: #ff914d;
  width: 75%;
  padding: 15px 0 15px 0;

  text-align: center;
  font-weight: 300;
  font-size: 1.3em;

  transition: all .5s;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.tabContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tabContainer .button:first-child, div:first-child {
  margin-bottom: 15px;
}

.games {
  margin-top: auto;
}

.gamesSubHeader {
  margin: 0;
  margin-left: 15%;
  align-self: flex-start;
}