#loginMaincontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ff914d;
  margin: 0;
  height: 100vh;
}

#loginpageHeader {
  margin: 0 0 25px 0;
}

#loginForm {
  width: 65%;
  padding: 20px;

  border-radius: 25px;
  background-color: #e46c21;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textInput {
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.submitButton {
  border: none;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px;
}
