#logocontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../../assets/mainpage-blob.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 120px;
    
}

#MainLogo {
    aspect-ratio: 1/1;
    position: relative;
    background-image: url('../../../../assets/basket.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50%;
}

#MainHeader {
    margin: 0;
}
