#mainpageContainer {
    background-color: #FF914D;
    margin: 0;
    height: 100vh;
}


#buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainpageSubHeader {
    margin: 15px 0 0 0;
    color: rgb(34, 34, 34);
    font-weight: 300;
}