body {
  -webkit-text-size-adjust: none;
}

.round_data td {
  height: 20px;
  width: 100%;
  background-color: grey;
}

.round_table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  text-align: center;
}

#returnToMenu {
  background-color: orange;
}

#buttons {
  margin: 5px;
  text-align: center;
}

.scorebutton {
  background-color: rgb(255, 177, 33);
  padding: 20px;
  margin: 3px;
  font-size: larger;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8f7da;
  z-index: 1000;
  padding: 10px 2rem 1em 2rem;
  border-radius: 5%;
  font-family: 'Grand Hotel', cursive;

  display: flex;
  flex-direction: column;
  font-size: 2rem;
  align-items: center;

  animation:fadein .5s;
}

#overlay {
    transition: all .5s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0);
    opacity: 0.7;
    z-index: 1000;
    animation: fadeinOverlay .5s;
}